@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #DDD;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(https://i.pinimg.com/originals/b3/ae/ec/b3aeec8ff56867e8530a949da9a368b4.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.Login {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    padding: 20px;
    border-radius: 20px;
    /* background-color: rgba(225, 247, 226, 0.8); */
}

.login-box {
    display: flex;
    flex-wrap: wrap;
}

.form-wrapper {
    background-color: rgba(0, 0, 0, 0.08);
    padding: 40px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    flex: 1;
    min-width: 300px;
}

.login-form h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
}

label {
    font-size: 14px;
    color: #555;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    border-radius: 6px;
    border: 1px solid #ddd;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 6px;
    background-color: #00a133fc;
    color: #FFF;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
}

.social-login {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 5px;
}

.social-button {
    flex: 1;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ddd;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.image-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.image-section img {
    max-width: 100%;
    height: auto;
    transition: box-shadow 0.3s ease;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .Login {
        flex-direction: column;
    }

    .image-section {
        display: none;
    }

    .form-wrapper {
        max-width: 100%;
        padding: 20px;
    }
}

@media (max-width: 480px) {
    .login-form h1 {
        font-size: 24px;
    }

    button {
        font-size: 14px;
    }
}
